.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  h1{
    color: white;

  }
}

@media screen and (max-width: 1024px) {
  .container{
    margin: 0 auto;
    width: 80%;
    h1{
      font-size: 25px;
    }
  }
}
