
html, body {
  height: 100%;
  background-color: #001e28
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  user-select: none;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
