.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #00141e;
  color: #fff;
  transition: left 0.3s;
  z-index: 999;

  &.open {
    left: 0;
  }

  .close-btn{
    padding: 6px;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 60px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li {
      border: 2px solid #189541;
      margin: 20px 0;
      cursor: pointer;
      padding: 6px 16px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      gap: 2px;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
      }

      &:hover{
        transition: 0.3s;
        background-color: white;
        color: #001e28;
      }

      img{
        width: 20px;
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
